@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --font-family: "Courier Prime", monospace;
  --color-primary-light: #838c6d;
  --color-primary-main: #666f50;
  --color-primary-dark: #414932;
  --color-dark: #1a2525;
  --color-light: #c2c7ac;
  --color-white: #fff;
  --color-black: #000;
  --color-error: #ff0000;
  --border-radius: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  font-size: 12px;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-weight: 400;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.header__logo {
  max-width: 80px;
  width: 100%;
  height: auto;
}

.header__title {
    flex: 100px;
}

.header ul {
  display: flex;
  gap: 30px;
}

.btn-primary {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-primary-main);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.form-group {
  margin-bottom: 20px;
}

.form-group-error input,
textarea,
select{
  border:2px solid var(--color-error);
}

label {
  font-size: 18px;
  color: var(--color-dark);
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--color-dark);
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder,
select option {
  font-family: var(--font-family);
  color: var(--color-light);
}

.form__container {
  width: 600px;
  margin: auto;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
}

.form__container h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.form__container p {
  font-size: 18px;
  color: var(--color-dark);
  margin-bottom: 20px;
  text-align: center;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 20px;
}

.form-error{
  color: var(--color-error);
  font-size: 16px;
  margin-top: 4px;
  font-weight: 500;
}

.question__container{
  padding: 30px;
  border: 2px solid var(--color-primary-main);
  border-radius: var(--border-radius);
}

.question__number{
  font-size: 18px;
  color: var(--color-primary-dark);
  margin-bottom: 20px;
  font-weight: 600;
}

.question__text{
  font-size: 18px;
  color: var(--color-dark);
  margin-bottom: 20px;
  max-width: 530px;
  word-wrap: break-word;
}

.question__options{
  display: flex;
  flex-direction: column;
}

.option__container{
  display: flex;
  align-items: baseline;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.option__container:last-child{
  margin-bottom: 10px;
}

.option__container label{
  cursor: pointer;
}

input[type="radio"]{
  transform: scale(1.5);
  cursor: pointer;
  border-color: transparent;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--color-primary-main);
  border-radius: 50%;
  width: 12px;
  height:12px;
  position: relative;
}

input[type="radio"]:checked::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--color-primary-main);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question__container .form-error{
  margin-bottom: 20px;
}