{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Brainac - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container header">
      <a href="/templates">
        <img src="{% static 'images/logo.png' %}" class="header__logo" alt="Logo" />
      </a>
      <span>Brainac - An Intelligence Meter</span>
      <nav>
        <ul>
          <li>
            <a href="/register.html">Register</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
     {% block content %}{% endblock %}
    </main>
  </body>
</html>
