{% extends "header.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
   <section class="form__container">
        <h1 class="form__header">My Scoreboard</h1>
        <p class="form__subheader">Are you any close to the world domination?</p>
        <div class="score__container">
         <table class="score__table">
            <thead>
               <tr>
                  <th>Category</th>
                  <th>Score</th>
                  <th>Percentage</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
        </div>
   </section>
{% endblock %}