{% extends "header.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
   <section class="form__container">
        <h1 class="form__header">My Scoreboard</h1>
        <p class="form__subheader">Are you any close to the world domination?</p>
        <div class="score__container">
         <table class="score__table">
            <thead>
               <tr>
                  <th>SN</th>
                  <th>Category</th>
                  <th>Score</th>
                  <th>Percentage</th>
                  <th>View Details</th>
               </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ score.category }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.percentage }}%</td>
                    <td><a href="/scores/{{ score.id }}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
         </table>
        </div>
   </section>
{% endblock %}